In [1]:
import pandas as pd

### What is the most popular month for start time? - New_york_City

In [2]:
ny_data = pd.read_csv('RR-DPL-AU1 - new_york_city.csv')

In [3]:
ny_data

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:21,2017-01-01 00:11:41,680,W 82 St & Central Park West,Central Park West & W 72 St,Subscriber,Female,1965.0
1,2017-01-01 00:00:45,2017-01-01 00:22:08,1282,Cooper Square & E 7 St,Broadway & W 32 St,Subscriber,Female,1987.0
2,2017-01-01 00:00:57,2017-01-01 00:11:46,648,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
3,2017-01-01 00:01:10,2017-01-01 00:11:42,631,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
4,2017-01-01 00:01:25,2017-01-01 00:11:47,621,5 Ave & E 78 St,3 Ave & E 71 St,Customer,NaN,NaN
...,...,...,...,...,...,...,...,...
6816249,2017-06-30 23:59:30,2017-07-01 00:06:05,394,Metropolitan Ave & Bedford Ave,Bedford Ave & Nassau Ave,Subscriber,Female,1986.0
6816250,2017-06-30 23:59:40,2017-07-01 00:19:12,1171,Liberty St & Broadway,St Marks Pl & 1 Ave,Subscriber,Male,1986.0
6816251,2017-06-30 23:59:47,2017-07-01 00:20:59,1272,W 41 St & 8 Ave,W 95 St & Broadway,Subscriber,Male,1982.0
6816252,2017-06-30 23:59:45,2017-07-01 00:15:03,918,Watts St & Greenwich St,Hudson St & Reade St,Subscriber,Male,1998.0
6816253,2017-06-30 23:59:53,2017-07-01 00:23:12,1398,University Pl & E 8 St,South End Ave & Liberty St,Subscriber,Female,1987.0

In [4]:
## converting Start Time into date time format using to_datetime

In [5]:
ny_data['Start Time'] = pd.to_datetime(ny_data['Start Time'])

In [6]:
ny_data['Start Time']

0         2017-01-01 00:00:21
1         2017-01-01 00:00:45
2         2017-01-01 00:00:57
3         2017-01-01 00:01:10
4         2017-01-01 00:01:25
                  ...
6816249   2017-06-30 23:59:30
6816250   2017-06-30 23:59:40
6816251   2017-06-30 23:59:47
6816252   2017-06-30 23:59:45
6816253   2017-06-30 23:59:53
Name: Start Time, Length: 6816254, dtype: datetime64[ns]

In [7]:
# Extracting the month from Start time using the function dt.month

In [8]:
ny_data['Start Month']= ny_data['Start Time'].dt.month

In [9]:
ny_data['Start Month']

0          1
1          1
2          1
3          1
4          1
          ..
6816249    6
6816250    6
6816251    6
6816252    6
6816253    6
Name: Start Month, Length: 6816254, dtype: int32

In [10]:
ny_data['Start Month'].describe()

count    6.816254e+06
mean     4.072689e+00
std      1.662874e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      6.000000e+00
max      6.000000e+00
Name: Start Month, dtype: float64

In [11]:
## using value_counts() to return counts of the uqique values which occured most frequently in start station and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [12]:
popular_month = ny_data['Start Month'].value_counts().idxmax()
months_name = {1: "January", 2: "February", 3:"March", 
               4:"April", 5:"May", 6:"June", 7:"July", 
               8:"August", 9:"September", 10:"October", 
               11:"November", 12:"December"}
popular_month = months_name[popular_month]
popular_month

'June'

### What is the most popular month for start time? Chicago

In [13]:
c_data = pd.read_csv('RR-DPL-UA1 - chicago.csv')

In [14]:
c_data

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-01-01 00:00:36,2017-01-01 00:06:32,356,Canal St & Taylor St,Canal St & Monroe St (*),Customer,NaN,NaN
1,2017-01-01 00:02:54,2017-01-01 00:08:21,327,Larrabee St & Menomonee St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0
2,2017-01-01 00:06:06,2017-01-01 00:18:31,745,Orleans St & Chestnut St (NEXT Apts),Ashland Ave & Blackhawk St,Subscriber,Male,1985.0
3,2017-01-01 00:07:28,2017-01-01 00:12:51,323,Franklin St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1990.0
4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0
...,...,...,...,...,...,...,...,...
1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0
1551501,2017-06-30 23:59:14,2017-07-01 00:06:21,427,Canal St & Adams St,LaSalle St & Adams St,Subscriber,Male,1980.0
1551502,2017-06-30 23:59:18,2017-07-01 00:04:58,340,Sheffield Ave & Webster Ave,Sheffield Ave & Webster Ave,Subscriber,Female,1996.0
1551503,2017-06-30 23:59:28,2017-07-01 00:07:10,462,Clark St & Grace St,Clark St & Montrose Ave,Subscriber,Female,1968.0
1551504,2017-06-30 23:59:51,2017-07-01 00:13:57,846,Desplaines St & Jackson Blvd,Desplaines St & Kinzie St,Subscriber,Male,1975.0

In [15]:
## converting Start Time into date time format using to_datatime

In [16]:
c_data['Start Time'] = pd.to_datetime(c_data['Start Time'])

In [17]:
c_data['Start Time']

0         2017-01-01 00:00:36
1         2017-01-01 00:02:54
2         2017-01-01 00:06:06
3         2017-01-01 00:07:28
4         2017-01-01 00:07:57
                  ...
1551500   2017-06-30 23:59:01
1551501   2017-06-30 23:59:14
1551502   2017-06-30 23:59:18
1551503   2017-06-30 23:59:28
1551504   2017-06-30 23:59:51
Name: Start Time, Length: 1551505, dtype: datetime64[ns]

In [18]:
# Extracting the month from Start time using the function dt.month

In [19]:
c_data['Start Month']= c_data['Start Time'].dt.month

In [20]:
c_data['Start Month']

0          1
1          1
2          1
3          1
4          1
          ..
1551500    6
1551501    6
1551502    6
1551503    6
1551504    6
Name: Start Month, Length: 1551505, dtype: int32

In [21]:
c_data['Start Month'].describe()

count    1.551505e+06
mean     4.344438e+00
std      1.607432e+00
min      1.000000e+00
25%      3.000000e+00
50%      5.000000e+00
75%      6.000000e+00
max      6.000000e+00
Name: Start Month, dtype: float64

In [22]:
## using value_counts() to return counts of the uqique values which occured most frequently in start station and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [23]:
popular_month = c_data['Start Month'].value_counts().idxmax()
months_name = {1: "January", 2: "February", 3:"March", 
               4:"April", 5:"May", 6:"June", 7:"July", 
               8:"August", 9:"September", 10:"October", 
               11:"November", 12:"December"}
popular_month = months_name[popular_month]
popular_month

'June'

### What is the most popular month for start time? Washington

In [24]:
w_data = pd.read_csv('RR-DPL-AU1 - washington.csv')

In [25]:
w_data

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,2017-01-01 00:00:00,2017-01-01 00:04:00,221.834,3rd & Tingey St SE,M St & New Jersey Ave SE,Subscriber
1,2017-01-01 00:06:00,2017-01-01 00:34:00,1676.854,Lincoln Memorial,8th & D St NW,Customer
2,2017-01-01 00:07:00,2017-01-01 00:34:00,1636.768,Lincoln Memorial,8th & D St NW,Customer
3,2017-01-01 00:07:00,2017-01-01 00:29:00,1327.901,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
4,2017-01-01 00:07:00,2017-01-01 00:29:00,1356.956,Henry Bacon Dr & Lincoln Memorial Circle NW,New York Ave & 15th St NW,Customer
...,...,...,...,...,...,...
409596,2017-03-01 21:11:00,2017-03-01 21:41:00,1772.589,23rd & Crystal Dr,23rd & Crystal Dr,Customer
409597,2017-03-01 21:11:00,2017-03-01 21:24:00,787.499,Washington Blvd & 7th St N,Lynn & 19th St North,Customer
409598,2017-03-01 21:12:00,2017-03-01 21:28:00,954.615,37th & O St NW / Georgetown University,California St & Florida Ave NW,Subscriber
409599,2017-03-01 21:12:00,2017-03-01 21:29:00,988.696,19th St & Pennsylvania Ave NW,6th & K St NE,Subscriber
409600,2017-03-,NaN,NaN,NaN,NaN,NaN

In [26]:
## converting Start Time into date time format and replacing invalid Start time values by assigning errors=coerce

In [27]:
w_data['Start Month'] = pd.to_datetime(w_data['Start Time'], errors='coerce')
w_data['Start Month']

0        2017-01-01 00:00:00
1        2017-01-01 00:06:00
2        2017-01-01 00:07:00
3        2017-01-01 00:07:00
4        2017-01-01 00:07:00
                 ...
409596   2017-03-01 21:11:00
409597   2017-03-01 21:11:00
409598   2017-03-01 21:12:00
409599   2017-03-01 21:12:00
409600                   NaT
Name: Start Month, Length: 409601, dtype: datetime64[ns]

In [28]:
w_data['Start Month'].describe()

count                           409600
mean     2017-02-03 20:02:24.159814400
min                2017-01-01 00:00:00
25%                2017-01-20 16:26:45
50%                2017-02-05 14:49:00
75%                2017-02-19 11:44:00
max                2017-03-01 21:12:00
Name: Start Month, dtype: object

In [29]:
# Extracting the month from Start time using the function dt.month

In [30]:
w_data['Start Month'] = w_data['Start Month'].dt.month

In [31]:
w_data['Start Month']

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
409596    3.0
409597    3.0
409598    3.0
409599    3.0
409600    NaN
Name: Start Month, Length: 409601, dtype: float64

In [32]:
## using value_counts() to return counts of the uqique values which occured most frequently in start station and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [33]:
popular_month = w_data['Start Month'].value_counts().idxmax()
months_name = {1: "January", 2: "February", 3:"March", 
               4:"April", 5:"May", 6:"June", 7:"July", 
               8:"August", 9:"September", 10:"October", 
               11:"November", 12:"December"}
popular_month = months_name[popular_month]
popular_month

'February'

### 2.What is the most popular day of week (Monday, Tuesday, etc.) for start time?

In [34]:
## finding the Most popular Day of New york city

In [35]:
## converting Start Time into date time format and assigining to ny_data['Day']

In [36]:
ny_data['Day'] = pd.to_datetime(ny_data['Start Time'])

In [37]:
ny_data['Day']

0         2017-01-01 00:00:21
1         2017-01-01 00:00:45
2         2017-01-01 00:00:57
3         2017-01-01 00:01:10
4         2017-01-01 00:01:25
                  ...
6816249   2017-06-30 23:59:30
6816250   2017-06-30 23:59:40
6816251   2017-06-30 23:59:47
6816252   2017-06-30 23:59:45
6816253   2017-06-30 23:59:53
Name: Day, Length: 6816254, dtype: datetime64[ns]

In [38]:
ny_data['Day'].describe()

count                          6816254
mean     2017-04-19 00:07:47.256399616
min                2017-01-01 00:00:21
25%         2017-03-07 16:19:47.500000
50%         2017-04-28 08:48:23.500000
75%                2017-06-01 13:33:36
max                2017-06-30 23:59:53
Name: Day, dtype: object

In [39]:
# Extracting the day from Start time using the function dt.dayofweek

In [40]:
ny_data['popular_Day'] = ny_data['Day'].dt.dayofweek

In [41]:
ny_data['popular_Day']

0          6
1          6
2          6
3          6
4          6
          ..
6816249    4
6816250    4
6816251    4
6816252    4
6816253    4
Name: popular_Day, Length: 6816254, dtype: int32

In [42]:
## Result for most popular day using the max() - returns a  maximum value for each column
### creating the dictionaries to get the popular day name

In [43]:
popular_Day = ny_data['popular_Day'].value_counts().idxmax()
day_names = {1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday",7:"Sunday"}
popular_day_name = day_names[popular_Day]

In [44]:
popular_day_name

'Tuesday'

In [45]:
## finding the solution Most popular Day of Chicago

In [46]:
## converting Start Time into date time format and assigining to ny_data['Day']

In [47]:
c_data['Day'] = pd.to_datetime(c_data['Start Time'])

In [48]:
c_data['Day']

0         2017-01-01 00:00:36
1         2017-01-01 00:02:54
2         2017-01-01 00:06:06
3         2017-01-01 00:07:28
4         2017-01-01 00:07:57
                  ...
1551500   2017-06-30 23:59:01
1551501   2017-06-30 23:59:14
1551502   2017-06-30 23:59:18
1551503   2017-06-30 23:59:28
1551504   2017-06-30 23:59:51
Name: Day, Length: 1551505, dtype: datetime64[ns]

In [49]:
c_data['Day'].describe()

count                          1551505
mean     2017-04-27 12:25:10.597322496
min                2017-01-01 00:00:36
25%                2017-03-23 17:16:20
50%                2017-05-10 07:18:27
75%                2017-06-07 19:10:59
max                2017-06-30 23:59:51
Name: Day, dtype: object

In [50]:
# Extracting the day from Start time using the function dt.dayofweek

In [51]:
c_data['popular_Day'] = c_data['Day'].dt.dayofweek

In [52]:
c_data['popular_Day'].describe()

count    1.551505e+06
mean     2.910945e+00
std      1.985899e+00
min      0.000000e+00
25%      1.000000e+00
50%      3.000000e+00
75%      5.000000e+00
max      6.000000e+00
Name: popular_Day, dtype: float64

In [53]:
c_data['popular_Day'].max()

6

In [54]:
## using v

In [55]:
popular_Day = c_data['popular_Day'].value_counts().idxmax()
day_names = {1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday",7:"Sunday"}
popular_day_name = day_names[popular_Day]

In [56]:
popular_day_name

'Monday'

In [57]:
## finding the solution Most popular Day of washington

In [58]:
## converting Start Time into date time format and replacing invalid Start time values by assigning errors=coerce

In [59]:
w_data['Day'] = pd.to_datetime(w_data['Start Time'],errors='coerce')

In [60]:
w_data['Day'].describe()

count                           409600
mean     2017-02-03 20:02:24.159814400
min                2017-01-01 00:00:00
25%                2017-01-20 16:26:45
50%                2017-02-05 14:49:00
75%                2017-02-19 11:44:00
max                2017-03-01 21:12:00
Name: Day, dtype: object

In [61]:
# Extracting the day from Start time using the function dt.dayofweek

In [62]:
w_data['popular_Day'] =w_data['Day'].dt.dayofweek
w_data['popular_Day']

0         6.0
1         6.0
2         6.0
3         6.0
4         6.0
         ...
409596    2.0
409597    2.0
409598    2.0
409599    2.0
409600    NaN
Name: popular_Day, Length: 409601, dtype: float64

In [63]:
popular_Day = w_data['popular_Day'].value_counts().idxmax()
day_names = {1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday",7:"Sunday"}
w_popular_day_name = day_names[popular_Day]

In [64]:
w_popular_day_name

'Tuesday'

### What is the most popular hour of day for start time?

In [65]:
## finding Most popular hour of newyork

In [66]:
## converting Start Time into date time format

In [67]:
ny_data['hour'] = pd.to_datetime(ny_data['Start Time'])
ny_data['hour']

0         2017-01-01 00:00:21
1         2017-01-01 00:00:45
2         2017-01-01 00:00:57
3         2017-01-01 00:01:10
4         2017-01-01 00:01:25
                  ...
6816249   2017-06-30 23:59:30
6816250   2017-06-30 23:59:40
6816251   2017-06-30 23:59:47
6816252   2017-06-30 23:59:45
6816253   2017-06-30 23:59:53
Name: hour, Length: 6816254, dtype: datetime64[ns]

In [68]:
# extracting the hour from Start time using dt.hour

In [69]:
ny_data['hour']= ny_data['hour'].dt.hour

In [70]:
ny_data['hour']

0           0
1           0
2           0
3           0
4           0
           ..
6816249    23
6816250    23
6816251    23
6816252    23
6816253    23
Name: hour, Length: 6816254, dtype: int32

In [71]:
## using value_counts() to return counts of the uqique values which occured most frequently in hour and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [72]:
most_popular_hour = ny_data['hour'].value_counts().idxmax()

In [73]:
most_popular_hour

17

In [74]:
## finding Most popular hour of chicago

In [75]:
c_data['hour'] = pd.to_datetime(c_data['Start Time'])
c_data['hour']

0         2017-01-01 00:00:36
1         2017-01-01 00:02:54
2         2017-01-01 00:06:06
3         2017-01-01 00:07:28
4         2017-01-01 00:07:57
                  ...
1551500   2017-06-30 23:59:01
1551501   2017-06-30 23:59:14
1551502   2017-06-30 23:59:18
1551503   2017-06-30 23:59:28
1551504   2017-06-30 23:59:51
Name: hour, Length: 1551505, dtype: datetime64[ns]

In [76]:
# extracting the hour from Start time using dt.hour

In [77]:
c_data['hour']= c_data['hour'].dt.hour

In [78]:
c_data['hour']

0           0
1           0
2           0
3           0
4           0
           ..
1551500    23
1551501    23
1551502    23
1551503    23
1551504    23
Name: hour, Length: 1551505, dtype: int32

In [79]:
## using value_counts() to return counts of the uqique values which occured most frequently in hour and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [80]:
most_popular_hour = c_data['hour'].value_counts().idxmax()
most_popular_hour

17

In [81]:
## finding Most popular hour of washington

In [82]:
w_data['hour'] = pd.to_datetime(w_data['Start Time'], errors='coerce')
w_data['hour']

0        2017-01-01 00:00:00
1        2017-01-01 00:06:00
2        2017-01-01 00:07:00
3        2017-01-01 00:07:00
4        2017-01-01 00:07:00
                 ...
409596   2017-03-01 21:11:00
409597   2017-03-01 21:11:00
409598   2017-03-01 21:12:00
409599   2017-03-01 21:12:00
409600                   NaT
Name: hour, Length: 409601, dtype: datetime64[ns]

In [83]:
# extracting the hour from Start time using dt.hour

In [84]:
w_data['hour']= w_data['hour'].dt.hour
w_data['hour']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
409596    21.0
409597    21.0
409598    21.0
409599    21.0
409600     NaN
Name: hour, Length: 409601, dtype: float64

In [85]:
## using value_counts() to return counts of the uqique values which occured most frequently in hour and idxmax() returns the row label of maximum value
## why i used value_counts().idxmax() function instead of max() is to find the most popular value. if I use max() function I only get the maximum value of column which I selected.

In [86]:
most_popular_hour = w_data['hour'].value_counts().idxmax()
most_popular_hour

17.0

### What is the total trip duration and average trip duration?

In [87]:
## Total trip duration for Newyork city using sum()

In [88]:
total_trip_duration = ny_data['Trip Duration'].sum()
total_trip_duration

6567146165

In [89]:
## average drip duration for Newyork city using mean()

In [90]:
average_trip_duration = ny_data['Trip Duration'].mean()
average_trip_duration

963.4538508981619

In [91]:
## Total drip duration for Chicago

In [92]:
total_trip_duration = c_data['Trip Duration'].sum()
total_trip_duration

1458069892

In [93]:
## average drip duration for Chicago

In [94]:
average_trip_duration = c_data['Trip Duration'].mean()
average_trip_duration

939.7777590146342

In [95]:
## Total drip duration for Washington

In [96]:
total_trip_duration = w_data['Trip Duration'].sum()
total_trip_duration

399393218.35899985

In [97]:
## average drip duration for Newyork city

In [98]:
average_trip_duration = w_data['Trip Duration'].mean()
average_trip_duration

975.081099509277

### What is the most popular start station and most popular end station?

In [99]:
## Most popular start station for Newyork City

In [100]:
startstation = ny_data['Start Station']
startstation

0             W 82 St & Central Park West
1                  Cooper Square & E 7 St
2                         5 Ave & E 78 St
3                         5 Ave & E 78 St
4                         5 Ave & E 78 St
                        ...
6816249    Metropolitan Ave & Bedford Ave
6816250             Liberty St & Broadway
6816251                   W 41 St & 8 Ave
6816252           Watts St & Greenwich St
6816253            University Pl & E 8 St
Name: Start Station, Length: 6816254, dtype: object

In [101]:
startstation.describe()

count                   6816254
unique                      651
top       Pershing Square North
freq                      71108
Name: Start Station, dtype: object

In [102]:
## using value_counts() to return counts of the uqique values in satrt station and idxmax() returns the row label of maximum value
## if I use the max() it will throw the output of maximum value of the text in that column

In [103]:
most_popular_startstation_newyork = startstation.value_counts().idxmax()
most_popular_startstation_newyork

'Pershing Square North'

In [104]:
## Most popular end station for Newyork City

In [105]:
## using value_counts() to return counts of the uqique values in satrt station and idxmax() returns the row label of maximum value

In [106]:
EndStation = ny_data['End Station']
EndStation

0          Central Park West & W 72 St
1                   Broadway & W 32 St
2                      3 Ave & E 71 St
3                      3 Ave & E 71 St
4                      3 Ave & E 71 St
                      ...
6816249       Bedford Ave & Nassau Ave
6816250            St Marks Pl & 1 Ave
6816251             W 95 St & Broadway
6816252           Hudson St & Reade St
6816253     South End Ave & Liberty St
Name: End Station, Length: 6816254, dtype: object

In [107]:
EndStation.describe()

count                   6816254
unique                      670
top       Pershing Square North
freq                      70048
Name: End Station, dtype: object

In [108]:
## using value_counts() to return counts of the uqique values in satrt station and idxmax() returns the row label of maximum value

In [109]:
most_popular_endstation_newyork = EndStation.value_counts().idxmax()
most_popular_endstation_newyork

'Pershing Square North'

In [110]:
## Most Popular Start Station for Chicago

In [111]:
most_popular_startstation_chicago = c_data['Start Station'].value_counts().idxmax()
most_popular_startstation_chicago

'Streeter Dr & Grand Ave'

In [112]:
## Most Popular End Station for Chicago

In [113]:
## using value_counts() to return counts of the uqique values in satrt station and idxmax() returns the row label of maximum value

In [114]:
most_popular_endstation_chicago = c_data['End Station'].value_counts().idxmax()
most_popular_endstation_chicago

'Streeter Dr & Grand Ave'

In [115]:
 c_data['End Station'].describe()

count                     1551505
unique                        581
top       Streeter Dr & Grand Ave
freq                        39537
Name: End Station, dtype: object

In [116]:
## Most Popular Start Station for Washington

In [117]:
## using value_counts() to return counts of the uqique values in satrt station and idxmax() returns the row label of maximum value

In [118]:
most_popular_startstation_washington = w_data['Start Station'].value_counts().idxmax()
most_popular_startstation_washington

'Columbus Circle / Union Station'

In [119]:
## Most Popular end Station for Washington

In [120]:
## using value_counts() to return counts of the uqique values which occured most frequently in start station and idxmax() returns the row label of maximum value

In [121]:
most_popular_endstation_washington = w_data['End Station'].value_counts().idxmax()
most_popular_endstation_washington

'Columbus Circle / Union Station'

### What is the most popular trip?

In [122]:
most_popular_trip = (ny_data['Start Station'] + '-' +  ny_data['End Station']).value_counts().idxmax()
most_popular_trip

'E 7 St & Avenue A-Cooper Square & E 7 St'

In [123]:
most_popular_trip = (c_data['Start Station'] + '-' + c_data['End Station']).value_counts().idxmax()
most_popular_trip

'Lake Shore Dr & Monroe St-Streeter Dr & Grand Ave'

In [124]:
most_popular_trip = (w_data['Start Station'] + '-' + w_data['End Station']).value_counts().idxmax()
most_popular_trip

'Columbus Circle / Union Station-8th & F St NE'

### What are the counts of each user type?

In [125]:
### counts of each user type in Newyork

In [126]:
### counts of each user type in Newyork using value_counts() which returns count of unique value which occured frequently in user type

In [127]:
ny_data['User Type'].describe()

count        6800345
unique             2
top       Subscriber
freq         6114372
Name: User Type, dtype: object

In [128]:
user_count = ny_data['User Type'].value_counts()

In [129]:
user_count

User Type
Subscriber    6114372
Customer       685973
Name: count, dtype: int64

In [130]:
### counts of each user type in chicago using value_counts() which returns count of unique value which occured frequently in user type

In [131]:
user_count = c_data['User Type'].value_counts()

In [132]:
user_count

User Type
Subscriber    1234339
Customer       317162
Dependent           4
Name: count, dtype: int64

In [133]:
### counts of each user type in Washington using value_counts() which returns count of unique value which occured frequently in user type

In [134]:
user_count = w_data['User Type'].value_counts()
user_count

User Type
Subscriber    342894
Customer       66706
Name: count, dtype: int64